body{
    background-image: url(img/Decore.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 48%;
}
header{
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.header__logo{
    min-height: 60px;
    min-width: 60px;
    width: 6%;
    height: 6%;
}
.top-nav{
    gap: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
header svg{
    margin-left: 5%;
    align-items: center;
}

header button{
    border: none;
    background-color:white;
    font-family: 'Open Sans', sans-serif;
}

.sign-nav{
    gap:5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.sign-nav__item:nth-of-type(2){
    padding: 10px 22px;
    border: solid 1px;
    border-radius: 5px;
}

.sign-nav__item:nth-of-type(3){
    display: flex;
    align-items: center;
}